.codeblock-container {
  border-radius: 8px;
  overflow: hidden;
  height: 500px;
}

.pre {
  overflow: scroll;
  height: 100%;
}

.code {
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-family: SF Mono Regular;
  padding: 24px;
}
